.content{
    background: url(backrong.png);
    background-repeat: no-repeat;
    background-size: cover ;
    color: white;
}
#section_profil{
    background: linear-gradient(265.25deg, rgba(61, 255, 243, 0.3) 15.21%, rgba(195, 146, 220, 0.3) 49.06%, rgba(205, 154, 43, 0.162) 104.03%);
    /* background-color: rgba(217, 217, 217, 0.6); */
    /* margin-left: 10%;
    margin-right: 30%; */
    border: 2px solid rgb(0, 255, 247);
    border-radius: 12px;
    width: 130%;
    margin-top: 4vh;
}
 #profil{
    display: flex;
}

#table

#container1{
    display: flex;
    justify-content: space-around;
}
#incident-decla{
    background: linear-gradient(265.25deg, rgba(61, 255, 243, 0.3) 15.21%, rgba(195, 146, 220, 0.3) 49.06%, rgba(205, 154, 43, 0.162) 104.03%);
    border: 2px solid rgb(0, 255, 247);
    border-radius: 12px;
    width: 130%;
    margin-top: 4vh;
    margin-left: 0px;
}
#list-button{
    padding: 0%;
    list-style: none;
    margin-top: 2vh;
}
.containerimg {
    position: relative;
    width: 100%;
  }
  
  .background-image {
    width: 100%;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 200%;
  }
  
  .overlay-text a {
    color: white;
    text-decoration: none;
  }